@tailwind base;
@tailwind components;
@tailwind utilities;

.color-blanco {
    background-color: white;
    color: black;
}

.color-verde {
    background-color: rgb(132 204 22);
    color: rgb(20 83 45);
}

.container-p {
    width: 10rem;
    text-align: center;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    cursor: pointer;
    transition: ease-in-out;
    animation-duration: 500ms;
    padding: 0.5rem;
    border-radius: 0.375rem;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
    padding: 10px 15px;
}

.contenedor-presupuesto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(5rem)
}
.sombra{
    box-shadow: 0px 0px 5px #999;
}